.Rproj.user
.Rhistory
.RData
*.html
Coursera/DataScientist/StatisticalInference/figure/
Coursera/DataScientist/RegressionModels/fig/
Coursera/DataScientist/RegressionModels/elimination.R
Coursera/DataScientist/PracticalMachineLearning/
