.Rproj.user
.Rhistory
.RData
*.html
Coursera/DataScientist/StatisticalInference/figure/
Coursera/DataScientist/RegressionModels/fig/
Coursera/DataScientist/RegressionModels/elimination.R
Coursera/DataScientist/PracticalMachineLearning/PreprocessingWithPCA_cache/
Coursera/DataScientist/PracticalMachineLearning/PredictingWithTrees_cache/
Coursera/DataScientist/PracticalMachineLearning/PredictingWithTrees_files/
Coursera/DataScientist/PracticalMachineLearning/PredictingWithRegressionMultipleCovariates_files/
Coursera/DataScientist/PracticalMachineLearning/PreprocessingWithPCA_files/
Coursera/DataScientist/PracticalMachineLearning/PredictingWithRegressionMultipleCovariates_cache/
Coursera/DataScientist/PracticalMachineLearning/Preprocessing_cache/
Coursera/DataScientist/PracticalMachineLearning/PlottingPredictors_files/
Coursera/DataScientist/PracticalMachineLearning/PlottingPredictors_cache/
